/brainaccess/brainaccess/connect/__init__.py
/brainaccess/brainaccess/core/__init__.py
/brainaccess/brainaccess/utils/__init__.py
/brainaccess/brainaccess/__init__.py
/brainaccess/build/lib/brainaccess/connect/__init__.py
/brainaccess/build/lib/brainaccess/core/__init__.py
/brainaccess/build/lib/brainaccess/utils/__init__.py
/brainaccess/build/lib/brainaccess/__init__.py
/brainaccess/brainaccess/utils/acquisition.py
/brainaccess/build/lib/brainaccess/utils/acquisition.py
/include/core/annotation.h
/brainaccess/brainaccess/core/annotation.py
/brainaccess/build/lib/brainaccess/core/annotation.py
/asmjit.dll
/babciconnect.dll
/bacore.dll
/include/core/bacore.h
/brainaccess/bacore.json
/bacore.lib
/bacore.log
/include/core/battery_info.h
/brainaccess/brainaccess/core/battery_info.py
/brainaccess/build/lib/brainaccess/core/battery_info.py
/brainaccess/examples/bci/bci_keyboard_p300.py
/brainaccess/examples/bci/bci_ssvep_4_target.py
/brainaccess/examples/bci/bci_ssvep_keyboard.py
/c10.dll
/include/core/callbacks.h
/include/examples/connect_example.c
/brainaccess/brainaccess.egg-info/dependency_links.txt
/include/core/device_features.h
/brainaccess/brainaccess/core/device_features.py
/brainaccess/build/lib/brainaccess/core/device_features.py
/include/core/device_info.h
/brainaccess/brainaccess/core/device_info.py
/brainaccess/build/lib/brainaccess/core/device_info.py
/include/core/device_model.h
/brainaccess/brainaccess/core/device_model.py
/brainaccess/build/lib/brainaccess/core/device_model.py
/include/bciconnect/dllexport.h
/include/core/dllexport.h
/include/core/eeg_channel.h
/brainaccess/brainaccess/core/eeg_channel.py
/brainaccess/build/lib/brainaccess/core/eeg_channel.py
/include/core/eeg_manager.h
/brainaccess/brainaccess/core/eeg_manager.py
/brainaccess/build/lib/brainaccess/core/eeg_manager.py
/include/bciconnect/error.h
/include/core/error.h
/EULA.rtf
/brainaccess/examples/acquisition/example_eeg_acquisition_to_mne.py
/brainaccess/examples/acquisition/example_impedance_measurement.py
/brainaccess/examples/acquisition/example_minimal_eeg_acquisition.py
/brainaccess/brainaccess/utils/exceptions.py
/brainaccess/build/lib/brainaccess/utils/exceptions.py
/fbgemm.dll
/brainaccess/examples/bci/feedback_psychopy.py
/include/core/full_battery_info.h
/brainaccess/brainaccess/core/full_battery_info.py
/brainaccess/build/lib/brainaccess/core/full_battery_info.py
/include/core/gain_mode.h
/brainaccess/brainaccess/core/gain_mode.py
/brainaccess/build/lib/brainaccess/core/gain_mode.py
/brainaccess/examples/bci/assets/gan_face1.png
/include/core/impedance_measurement_mode.h
/brainaccess/brainaccess/core/impedance_measurement_mode.py
/brainaccess/build/lib/brainaccess/core/impedance_measurement_mode.py
/brainaccess/examples/bci/keyboard_ssvep.py
/libiomp5md.dll
/libiompstubs5md.dll
/brainaccess/brainaccess/libload.py
/brainaccess/build/lib/brainaccess/libload.py
/brainaccess/LICENSE.md
/include/core/log_level.h
/brainaccess/brainaccess/core/log_level.py
/brainaccess/build/lib/brainaccess/core/log_level.py
/include/bciconnect/noexcept.h
/opencv_world455.dll
/brainaccess/brainaccess/connect/P300.py
/brainaccess/build/lib/brainaccess/connect/P300.py
/include/bciconnect/p300_classifier.h
/models/p300_reps1.pt
/models/p300_reps3.pt
/models/p300_reps3_fast_cap.pt
/models/p300_reps3_fast_halo.pt
/brainaccess/brainaccess.egg-info/PKG-INFO
/include/bciconnect/platforms.h
/include/core/polarity.h
/brainaccess/brainaccess/core/polarity.py
/brainaccess/build/lib/brainaccess/core/polarity.py
/include/bciconnect/processor.h
/brainaccess/brainaccess/connect/processor.py
/brainaccess/build/lib/brainaccess/connect/processor.py
/brainaccess/pyproject.toml
/include/examples/read_eeg_example.c
/brainaccess/README.md
/brainaccess/brainaccess.egg-info/requires.txt
/include/bciconnect/restrict.h
/simpleble.dll
/brainaccess/brainaccess.egg-info/SOURCES.txt
/brainaccess/brainaccess/connect/SSVEP.py
/brainaccess/build/lib/brainaccess/connect/SSVEP.py
/brainaccess/examples/bci/ssvep.py
/include/bciconnect/ssvep_classifier.h
/test.zip
/third party license notes.rtf
/brainaccess/brainaccess.egg-info/top_level.txt
/torch.dll
/torch_cpu.dll
/torch_global_deps.dll
/uv.dll
/include/bciconnect/version.h
/include/core/version.h
/brainaccess/brainaccess/core/version.py
/brainaccess/build/lib/brainaccess/core/version.py
bci-hackathon/node_modules
lib
libbabciconnect.so
libbabciconnect.so.2.3.0
libbackend_with_compiler.so
libbacore.so
backend/__pycache__
